* {
    font-family: "IBM Plex Sans KR", sans-serif;
    /* no list style */
    list-style-type: none;
}

body {
    background: #2ea0e1;
    display: flex;
    align-items: center;
    justify-content: center;
    height: flex;
    width: flex;
    margin: 0;
}

#weather-container {
    background: #f2f2f1;
    padding: 2rem;
    width: 1000px;
    margin: 4rem auto;
    border-radius: 2px;
    height: 800px;
}

#weather-container #weather {
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}

#currentweather-container {
    background: rgb(155, 167, 180);
    padding: 5px;
    border-radius: 2px;
    height: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
    height: flex;
    margin: 0;
    
}

#fivedays-forecast {
    display: flex;
    width: 100%;
    background-color: rgb(155, 167, 180);
    padding: 50px;
    justify-content: center;
}

#fivehourly-forecast {
    display: flex;
    width: 100%;
    background-color: rgb(155, 167, 180);
    padding: 50px;
    justify-content: center;
}